* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  transition: all 0.2s ease;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  font-size: 2.5rem;
  transition: all 0.2s ease;
}
header.scroll {
  height: 60px;
  box-shadow: 0 0 5px #999;
  backdrop-filter: blur(10px);
}
header.scroll #logo {
  font-size: 2rem;
}

main {
  margin-top: 80px;
}
main p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}